

 body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.main {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.hp {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.fa-trash {
  color: #888;
  cursor: pointer;
  margin-left: 8px;
}

.fa-trash:hover {
  color: #f44336;
}

.done {
  text-decoration: line-through;
}

.strikethrough {
  text-decoration: line-through;
}



/* @media screen and (max-width: 768px) {
  .main {
      width: 90%;
      margin: 0 auto;
  }
} */